body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color:#10078c; /* Blue background color */
    color: white;
    padding-left: 30px;
    text-align: left;
    line-height: 70px;
}

img{
    float: left;
    width: 70px;
    height: 65px; 
}
.logout{
float: right;
padding-right: 30px ;
}

a{
text-decoration: none! important;
padding-left: 10px;
font-weight: bold;

}

main {
    display: flex;
}

aside {
    background-color:  hsl(248, 96%, 19%); /* Sidebar background color */
    color: white;
    width: 16%;
    height: 670px;
    padding: 20px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-top: 2%;
    padding-bottom: 30px;
    
}

section {
    flex: 1;
    padding: 20px;
  
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
   

}

li {
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

a:hover {
    color: #ecf0f1; /* Change color on hover */
}

.container-fluid {
    width: 100%;
    padding-left: 0px;
    display: block;
    box-sizing: border-box;
}

h4 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 15px;
    font-weight: 500;
    color: #111111;
    font-family: rubik;
    margin-top: 0;
    margin-top: 0;
    margin-bottom: .5rem;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    box-sizing: border-box;
}
.module__wrapper__form__content__login__field-select {
    display: flex;
    flex-direction: column;
    margin: 10px 0 20px;
}
.module__wrapper__form__content__login__field-input {
   display: flex;
   flex-direction: column;
}
 
.module__wrapper__form__content__login__field-input.js-currentpass {
    margin: 20px 0 10px;
}
.module__wrapper__form__content__login__field-input.js-newpass {
    margin: 20px 0 10px;
}
.module__wrapper__form__content__login__field-input.js-confirmpass {
    margin: 20px 0 10px;
}
.module__wrapper__form__content__login__field-input input {
    background: #f2f3f4;
    width: 35%;
    padding: 10px 15px 5px;
    border: 2px solid #f2f3f4;
    margin-bottom: 2px;
}
button {
    background-color: darkblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: blue;
}
